@font-face {
  font-family: "iconfont"; /* Project id 3495080 */
  src: url('iconfont.woff2?t=1656690798260') format('woff2'),
       url('iconfont.woff?t=1656690798260') format('woff'),
       url('iconfont.ttf?t=1656690798260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinlianglabashengyin:before {
  content: "\e7b5";
}

.icon-24gf-volumeDisable:before {
  content: "\ea0f";
}

